/* Set maximum width and center content horizontally */
body{
    max-width: 1920px;
    margin: auto;
}



/* top banner */
.top-banner{
    width: full;
    height: 940px;
    margin-right: auto;
    background-color: gray;
}

.banner-background{
    position: relative;
}

.top-banner-front{
    position: absolute;
    top: 0%;
    width: 1520px;
    margin-left: 10%;
}

.logo{
    width: 20%;
    margin-left: 20px;
}

.banner-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
 




/* banner left side  */
.button-top{
    font-size: 24px;
    width: 400px;
    padding: 20px;
    background-color: #012A4A;
    color: white;
    font-weight:400;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.banner-title{
    font-family: "Li Niladri Rongtuli Unicode", Arial, sans-serif;
  font-size: 50px;
  font-weight:800;
  line-height: 82px;
  letter-spacing: 0;
  text-align: left;
  color: #003B60;
}

.price{
    font-size: 24px;
    color: #012A4A;
    /* text-decoration: line-through; */
}

.previous-price{
    font-size: 24px;
    color: #012A4A;
    opacity: 50%;
    text-decoration:line-through
}

.new-price{
    font-size: 56px;
    font-weight: 700;
    color: #012A4A;
}

.button-buttom{
    font-size: 24px;
    padding: 20px;
    background-color: #F0E615;
    color: #012A4A;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    border: 0;
}

.right-arrow{
    margin-left: 20px;
    margin-right: 20px;
}

.order-condition{
    font-size: 30px;
    color: #012A4A;
    margin-top: 50px;
}




/* banner right side  */

.background-style{
    position: relative;
}

.bg-style{
    width: 90%;

}

.img{
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.call{
    font-size: 50px;
    font-weight: 700;
    background-color: yellow;
    position: absolute;
    margin-left: 30%;
    top: 580px;
    padding: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #012A4A;
    z-index: 10;
}

.direct-call{
    background-color: #012A4A;
    color: #012A4A;
    font-size: 33px;
    color: white;
    width: 55%;
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 2px;
    z-index: 50;
    position: absolute;
}
