

/* Set maximum width and center content horizontally */
body{
    max-width: 1920px;
    margin: auto;
    font-family: 'Hind Siliguri', sans-serif;
}



/* start banner section  */

/* top banner */
.top-banner{
    width: full;
    height: 940px;
    margin-right: auto;
    background-color: gray;
}

.banner-background{
    position: relative;
}

.top-banner-front{
    position: absolute;
    top: 0%;
    width: 1520px;
    margin-left: 10%;
}

.logo{
    width: 20%;
    margin-left: 20px;
}

.banner-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
 




/* banner left side  */
.button-top{
    font-size: 24px;
    width: 400px;
    padding: 20px;
    background-color: #012A4A;
    color: white;
    font-weight:400;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.banner-title{
  font-size: 50px;
  font-weight:800;
  line-height: 82px;
  letter-spacing: 0;
  text-align: left;
  color: #003B60;
}

.price{
    font-size: 24px;
    color: #012A4A;
    
    
}

.previous-price{
    font-size: 24px;
    color: #012A4A;
    opacity: 50%;
    text-decoration:line-through
}

.new-price{
    font-size: 56px;
    font-weight: 700;
    color: #012A4A;
}

.botton-buttom{
    font-size: 24px;
    padding: 20px;
    background-color: #F0E615;
    color: #012A4A;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    border: 0;
    font-weight: 800;
}

.right-arrow{
    margin-left: 20px;
    margin-right: 20px;
}

.order-condition{
    font-size: 30px;
    color: #012A4A;
    margin-top: 50px;
    font-family: 'Hind Siliguri', sans-serif;
}




/* banner right side  */

.background-style{
    position: relative;
}

.bg-style{
    width: 90%;

}

.img{
    height: 70%;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.call{
    font-size: 50px;
    font-weight: 700;
    background-color: yellow;
    position: absolute;
    margin-left: 30%;
    top: 580px;
    padding: 10px 20px 10px 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: #012A4A;
    z-index: 10;
}

.direct-call{
    background-color: #012A4A;
    color: #012A4A;
    font-size: 33px;
    color: white;
    width: 45%;
    padding: 15px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 2px;
    z-index: 50;
    position: absolute;
}


/* end banner section  */





/* product details section start  */

.product-details{
    width: 1920px;
}

.img2{
    border-radius: 220px;
    width: 75%;
    height: 115%;
    /* display: block; */
    margin-top: 50px;
    z-index: 50;
}



.our-commitment{
    font-size: 24px;
    width: 1300px;
    height: 96px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}




.details{
    width: 1329px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height:600px;
}


.details-title{
    font-size: 44px;
    font-weight: 400;
    color: #003B60;
}

.key-point-layer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.key-point{
    font-size: 24px;
    margin-left: 10px;
    color: #003B60;
}




.background-container {
    background-image: url("./images/brand-name.png");
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    width: 100%;
    height: 1145px; 
  }

  .image-text{
    font-size: 44px;
    padding-top: 50px;
    color: yellow;
    padding-left: 50%;
    margin: 0;
  }
.size-section{
    color: #003B60;
    padding-left: 50%;
}
.size{
    display: flex;
    gap: 20px;
}

.button-border{
    padding: 5px;
    border: 5px solid yellow;
    border-radius: 100%;
}

.button-size{
    font-size: 30px;
    padding: 20px 21px 20px 21px;
    background-color: white;
    border-radius: 100%;
    margin: 0;
    font-weight: 800;
}


.image-text-2{
    font-size: 50px;
    padding-top: 540px;
    color: white;
    margin: 0;
    text-align: center;
    font-family: 800;
}

  .button-position{
    margin-top: 50px;
    margin-left: 40%;
    padding: 20px 40px 20px 40px;
  }


  /* card section start  */

  .card-section{
    width: 1920px;
    height: 1172px;
    background-color: #F0F9FF;
    padding-top: 100px;
  }

  .card{
    background-color: white;
    padding: 10px;
    /* height: 480px; */
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  .card-layout{
    width: 1350px;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 100px;
    border-bottom: 2px dashed #012A4A;
  }

  .card img{
    width: 100%;
    height: 70%;
  }

  .card-Button{
    height: 45px;
    padding: 20px 30px 20px 30px;
    background-color: #012A4A;
    color: white;
    text-align: center;
    font-size: 18px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
    margin: 10px;
  }

  .classification-section{
    width: 1180px;
    margin: auto;
    margin-top: 50px;
  }

  .title{
    font-size: 44px;
    text-align: center;
    color: #003B60;
    font-weight: 800;
  }
  .classification-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
  }

  .video-section{
    width: 1400px;
    margin: auto;
    height: 788px;
    margin-top: 50px;
    
  }

  .video{
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #003B60;
 
  }

/* card section end  */



/* instruction start  */

.instruction{
    width: 1920px;
    margin: auto;
    margin-top: 600px;
}

.instruction-container{
    height: 700px;
    
}

.instruction-title{
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    color: #003B60;
}
.instruction-details{
    font-size: 24px;
    text-align: center;
    color: #003B60;
    border: 1px solid #003B60;
    width: 50%;
    margin: auto;
    font-weight: 700;
}
.instruction-details2{
    font-size: 24px;
    text-align: center;
    color: #003B60;
    border: 1px solid #003B60;
    width: 30%;
    margin: auto;
    font-weight: 700;
    margin-top: 20px;
}

.price-img {
    background-image: url("./images/price.png");
    width: 902px;
    margin: auto;
    height: 696px; 
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
    left: 27%;
    margin-top: 20px;
  }

  .price-tag{
    font-size: 44px;
    padding-top: 250px;
    color: white;
    padding-left: 35%;
    margin: 0;
    font-weight: 800;
  }

  .delivery{
    padding-left: 38%;
    color: white;
    font-size: 24px;
  }

  .order-button{
    margin-left: 35%;
    padding: 20px 40px 20px 40px;
  }

  .review{
    width: 1920px;
    height: 500px;
    background-color:  #F0F9FF;
    padding-top: 400px;
  }

  .review-section{
    width: 1292px;
    margin: auto;
  }

  .review-card-layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .review-card{
    position: relative;
    background-color: white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 20px;
    color: #012A4A;
  }
  .review-card:hover{
    background-color: #003B60;
    color: white;
  }

  .review-card img{
    position: absolute;
    width: 30%;
    top: -70px;
    margin-left: 35%;
    /* margin-bottom: 100%; */
  }

  .card-details{
    padding-top: 50px;
    text-align: center;
  }
  .reviewer-name{
    font-size: 44px;
    margin: 0;
    font-weight: 800;
   
    
  }


  .reviewer-location{
    font-size: 16px;
    border-bottom: 2px dashed rgb(83, 104, 64);
    margin-top: 0;
    padding-bottom: 20px;
  }

  .review-details{
    font-size: 18px;
  }

  .arrow{
    padding-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }

  .review-arrow{
    border: 1px solid #012A4A;
    border-radius: 100%;
    padding: 15px 20px 15px 20px;
    cursor: pointer;
  }

  .review-arrow:hover{
    background-color: #003B60;
    color: white;
  }
/* instruction end */



/* order form start  */
.order-form {
    background-image: url("./images/from-background.png");
    width: 1920px;
    margin: auto;
    height:1000px; 
  }

.order-form-title{
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    color: white;
    margin: 0;
    padding-top: 40px;
}

.form-layout{
    /* border: 2px solid red; */
    width: 1240px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-title{
    font-size: 24px;
    color: white;
    margin-bottom: 0;
}

.form-container{
    /* border: 2px double greenyellow; */
    width: 100%;
}

.form-section input{
    width: 97%;
    padding: 10px;
    opacity: 0.5;
    border: 1px solid white;
    font-size: 24px;
    color: black;
    margin-top: 30px;
}

.delivery-system{
    background-color: white;
    margin-top: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
}


.delivery-title{
    font-size:44px;
    font-weight: 800;
    padding-left: 20px;
    padding-top: 20px;
    margin: 0;
}

.check-box-title{
    font-size: 20px;
}

.check-box input{
    margin: 20px;
}

.payment-footer{
    padding: 20px;
    background-color: #003B60;
    font-size: 24px;
    color: white;
    border-bottom-right-radius: 50px;
}

.order-details-card{
    border: 2px solid white;
    margin-top: 20px;
}

.order-details-title{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid white;
    font-size: 18px;
    color: white;
}
.order-details{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid white;
}
.order-details img{
    width: 20%;
    padding: 20px;
    border-radius: 30px;
}

.product-name{
    width: 20%;
}

.order-subtotal{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content:space-around;
    border-bottom: 1px solid white;
    align-items: center;
}

.confirm-button{
    padding: 20px 190px 20px 190px;
    margin-top: 30px;
}






.order-banner{
    width: 1290px;
    background-color: #003B60;
    height: 277px;
    margin: auto;
    margin-top: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 18%;
    position: absolute;
}

.order-banner-layout{
    display: flex;
    justify-content: space-evenly;
}

.link-title{
    font-size: 44px;
    color: white;
    margin: 0;
    padding-left: 50px;
    padding-top: 50px;

}
.line{
    width: 10%;
    margin-left: 50px;
    border: 1px solid yellow;
}

.link{
    font-size: 18px;
    color: white;
    padding-left: 50px;
    cursor: pointer;
}

.logo2 img{
    width: 50%;
    margin-left: 20%;
}


.order-request{
    font-size: 24px;
    color: yellow;
    font-weight: 800;
    padding-right: 50px;
    padding-top: 50px;
    margin: 0;
}

.order-number{
    font-size: 44px;
    color: white;
    font-weight: 800;
    margin: 0;
}


.request-card{
    margin-top: 50px;
}



.footer{
    background-image: url("./images/footer.png");
    width: 1920px;
    height: 400px;
    margin-top: 155px;
   
  }

  .social-media{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer-line{
    text-align: center;
    color: white;
    margin-top: 50px;
  }

  .bold{
    font-weight: 600;
    color: yellow;
  }